@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #f9e6ea;
    color: #063671;
    /* background: url("https://images.unsplash.com/photo-1517315003714-a071486bd9ea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YWVzdGhldGljfGVufDB8fDB8fA%3D%3D&w=1000&q=80"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* color: white; */
}
main{
    margin: 20px;
}
/* ---------------Nav-------------- */
nav{
    background: url("https://www.shutterstock.com/image-vector/random-butterfly-silhouette-pattern-seamless-260nw-1932944300.jpg");
    display: flex;
    align-items: center;
    width: 100%;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
    margin: 0px 10px;
    color: rgb(6, 54, 112);
}
nav img{
    width: 70px;
    height: 70px;
    /* border-radius: 100%; */
}
@media screen and (max-width:768px){
    nav a{
        font-size: 18px;
        font-weight: 300;
        margin: 0px 10px;
    }
    nav img{
        width: 40px;
        height: 40px;
    }
}
/* -----------Search Bar--------------- */
.search_div{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
   text-align: center;
}
.search_box{
    display: flex;
    justify-content: center;
}
.search_box span{
    margin-right: 30px;
    font-weight: 500;
}
.search_bar{
    /* box-sizing: border-box; */
    border: 2px solid #063671;
    display: flex;
    align-items: center;
    width: 70%;
}
.search_div input{
    box-sizing: border-box;
    /* border: 1px solid black; */
    background-color: #f9e6ea;
    border: none;
    height: 100%;
    width: 100%;
    color: #063671;
    font-size: 20px;
}
.search_div button{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #dccce6;
    color: #063671;
    font-weight: 600;
    border:none;
    cursor: pointer;
    /* border: 2px solid #063671; */
}
#searchFor{
    display: none;
}
@media screen and (max-width:768px){
    .search_box{
        display: block;
    }
    .search_bar{
        margin: auto;
    }
}
/* ------------bookShelf------------- */
.bookShelf{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin: 20px 0px;
    justify-content: center;
}
.bookBox{
    /* border: 2px solid #063671; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 300px;
}
.bookBox:hover{
    scale:102%
}
.bookBox img{
    width: 50%;
    height: 200px;
}
.bookImgDiv{
    display: flex;
    justify-content: center;
    background: url("https://www.shutterstock.com/image-vector/vector-pastel-pink-butterflies-repeat-260nw-636120644.jpg");
}
.title{
    font-weight: 600;
    text-align: center;
}
.bookDesc{
    margin: 10px;
}
.buyDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.buyBtn{
    width: 92%;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 600;
    color: #063671;
    /* border: 2px solid #063671; */
    border: none;
    border-radius: 10px;
    background-color: #f8c9d7;
    cursor: pointer;
}